.modal {
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
}

.editContact {
    display: flex;
    justify-content: space-between;
}

.form {
    padding: 20px;
    gap: 20px;
}